#main_body{
    padding: 0 5px 0 5px;
    
}

h1{
    text-align: center;
    font-family: "Lucida Handwriting", cursive;
    font-weight: bold;
}

h2{
    text-align: center;
}

body{
    background-color: #FC5D35;
}


button{
    border-radius: 0 15px 0 15px;
    padding: auto;
    margin-left: 20px;
}

.grid-container {
    display: grid;
    max-width: 900px;
    margin: 0 auto;
    justify-items: center;
  }

  .menuCard {
      box-shadow:  0 4px 8px 0
      rgba (o,0,0,0.2);
      transition: 0.3s;
      border-radius: 15px;
      border: solid;
      background-color: #F8C8A2;
  }

  .menuCard img{
      border-radius: 15px;
      width: 100%;
  }

  .menuCard h3{
      font-size: x-large;
      text-align: center;
      font-family: "Lucida Handwriting", cursive;
      font-weight: bold;
  }

  .menuCard p{
    font-size: medium;
    text-align: center;
    font-family: Papyrus, fantasy;
    font-style: italic;
}
 